*{
    margin:0;
    padding:0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.loader{
    height: 100px;
    animation: rotate 3s linear infinite;
}
.circle1{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: lightgreen;
    border-radius: 50%;
    transform: scale(0);
    animation: grow 0.5s linear infinite;
    margin: -10px;
}
.circle2{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: lightblue;
    border-radius: 50%;
    transform: scale(0);
    animation: grow 0.5s linear infinite;
    animation-delay: 0.75s;
    margin: -10px;
}

@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}
@keyframes grow{
    50%{
        transform: scale(1);
    }
}